*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./fonts/Segoe\ UI.ttf');
}
@font-face {
  font-family: 'Segoe UI';
  src: url('./fonts/Segoe\ UI\ Bold.ttf');
  font-weight: bold;
}
.App {
  color: white;
  background-color: #1C2135;
  min-height: 100vh;
  font-family:'Segoe UI';
}


.form{
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
  color:#d3d3f7;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;
}
.form-input{
  background-color: #3a3c3d;
  border:0.1px solid #6C63FF;
  border-radius: 10px;
  padding:1.3em 1em;
  width:250px;
  outline: none;
  margin-bottom: 20px;
  margin-top:5px;
}

input, select, textarea{
  color: white;
}

textarea:focus, input:focus {
  border: 1px solid #d3d3f7;
}
input::placeholder{
  color:white
}
.login_page{
  display: flex;
  align-items: center;
  height: 75vh;
  justify-content: space-around;
}
.upload-div{
  background-color: rgb(53, 58, 72,0.65);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  box-shadow: 0 0 0 0.5px #6C63FF;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.3s ease;
}
.upload-div:hover{
  box-shadow: 0 0 0 2px #6C63FF;
}


audio{
  opacity: 0.9;
  filter:drop-shadow(5px 5px 8px gray);
  transform:scale(0.9);
  outline: none;
}

.myButton{
  background-color: #6C63FF;
  color:white;
}

.main-image{
  width:600px;
  margin-right:'4em';
}
.header-logo{
  padding:1em 0 0 4em;
}

.music2{
  width:180px;
  position:absolute;
  bottom:8%;
  right:31%;
}

.music1{
  width:180px;
  position:absolute;
  top:10%;
  right:34%;
}

.home-main{
  margin:2% auto 0 auto;
  width:70%;
  padding-bottom:1em;
}

@media only screen and (max-width: 1000px) {
  .upload-div{
    flex-direction: column;
  }
  .upload-div>p,.upload-div>audio,.upload-div>div{
    margin-bottom:1.2em; 
  }
}



@media only screen and (max-width: 950px) {
    .main-image{
      width:450px;
    }
}
@media only screen and (max-width: 760px) {
  .main-image{
    display: none;
  }
  .header-logo{
    text-align: center;
    width: 100%;
    padding:0;
    margin-top:1em;
  }
  .music1{
    top:3em;
    left:1em;
  }
  .music2{
    bottom:0;
    right:1em;
  }
  audio{
    width:250px;
  }
  .home-main{
    width:100%;
    padding:0.5em;
  }
  .welcome{
    margin-top: 1em;
    margin-left:0.5em;
  }
  
}


