*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  color: white;
  background-color: #1C2135;
  min-height: 100vh;
  font-family:'Segoe UI';
}


.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#d3d3f7;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;
}
.form-input{
  background-color: #3a3c3d;
  border:0.1px solid #86359E;
  border-radius: 10px;
  padding:1.3em 1em;
  width:250px;
  outline: none;
  margin-bottom: 20px;
  margin-top:5px;
}

input, select, textarea{
  color: white;
}

textarea:focus, input:focus {
  border: 1px solid #d3d3f7;
}
input::placeholder{
  color:white
}
.login_page{
  display: flex;
  align-items: center;
  height: 75vh;
  justify-content: space-around;
}
.upload-div{
  background-color: rgb(53, 58, 72,0.65);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  box-shadow: 0 0 0 0.5px #6C63FF;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.3s ease;
}
.upload-div:hover{
  box-shadow: 0 0 0 2px #6C63FF;
}


audio{
  opacity: 0.9;
  filter:drop-shadow(5px 5px 8px gray);
  transform:scale(0.9);
  outline: none;
}

.myButton{
  background-color: #6C63FF;
  color:white;
}
